<script>
	let results = "Waiting for user actions ...";
	let input_url = "";
	// setTimeout(() => {
	// 	results = "hey 5 secs up";
	// }, 5000);

	function myFunc() {
		console.log("fetching ...");
		try {
			fetch(input_url, {
				headers: { "Content-Type": "application/json" },
			})
				.then(function (response) {
					console.log("fetching 353454...");
					if (response.status !== 200) {
						console.log(
							"Looks like there was a problem. Status Code: " +
								response.status
						);
						return;
					}

					// Examine the text in the response
					response.json().then(function (data) {
						console.log(data);
					});
				})
				.catch(function (err) {
					console.log("Fetch Error :-S", err);
					results =
						"CORS Error Please check into developer console ..";
				});
		} catch {
			results = "CORS Error Please check into developer console ..";
		}
	}
</script>

<main>
	<div>Enter the URL to check for CORS</div>
	<input bind:value={input_url} />
	<button on:click={myFunc}>Check</button>
	<div>Results</div>
	<div>{results}</div>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
